.editIngredientsRestrictions {
  height: 60vh;
  margin: 7.5vh;
  padding: 2vw;
  box-shadow: (
    2px 2px 10px lightgray,
    -2px 2px 10px lightgray,
    2px -2px 10px lightgray
  );
  .ingredientList {
    width: 30%;
    height: 48vh;
    text-align: center;
    margin-top: 10px;
    box-shadow: (
      2px 2px 10px lightgray,
      -2px 2px 10px lightgray,
      2px -2px 10px lightgray
    );
    span {
      display: block;
      height: 4vh;
      padding-top: 1vh;
      padding-bottom: 1vh;
      margin-top: 0.5vh;
      margin-bottom: 0.5vh;
      font-size: 11px;
      color: blue;
      background-image: linear-gradient(to right, lightgray, #b78383);
    }
  }
}
